
.dropdown {
    margin-bottom: 20px;
    width: 100%;
}

.dropdown-content {
    background-color: #fff;
    padding: 5px;
    padding-left: 0px;
    width: 97%;
}

.icon {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
  }
  
  .icon-expanded {
    transform: rotate(180deg);
  }
  
  
