h1{
  font-size: 2em; /* Adjust the font size as needed */
  margin-top: 200px; /* Adjust the margin-top as needed */
  font-Weight: bold;
  background-color: transparent;
}

p {
  font-size: 14px;
}


